<!DOCTYPE html>
<html>
<head>
    <title>CI Assignment</title>

    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>


    <style>
        body { background:#f4f6f9; }
        .auth-card {
            background:#fff;
            padding:30px;
            border-radius:8px;
            box-shadow:0 0 10px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mx-auto">CI Assignment</span>
</nav>

<div class="container mt-5">
